/* MEDIA QUERIES RESPONSIVE LAYOUT */
@media screen and (max-width: 2400px) {
    body {
        font-family:"Open Sans", Helvetica, Arial, sans-serif;
        font-weight:300;
        font-size: 12px;
        line-height:30px;
        color:#777;
        background: url(../images/background.jpg);
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .head1 {
        color: seagreen;
        font-family: arial, sans-serif;
        text-align: left;
    }

    .bd {
        margin: auto;
        width: 95%;
        text-align: center;
    }

    header {
        position:relative;
        display:block;
        max-width:100%;
        height:100%;
        margin:0 auto;
        padding:1rem 5rem;
        background: white;
        color:#fff;
    }

    header h1 {
        line-height: 45px;
        font-size: 2rem;
        margin: 0;
        display: inline;
        color: seagreen;
    }

    h1 {
        width: 40%;
    }

    nav {
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        float:right;
        display:inline;
    }

    nav  li {
        position:relative;
        display:inline-block;
        list-style-type: none;
        color: #222;
        padding:0 1rem;
    }

    nav li > a {
        position: relative;
        display: block;
        padding: 10px 15px;
    }

    .bordertop {
        width: 85%;
        height: 2px;
        background-color: grey;
    }

    h2, ul, p{
        text-align: left;
    }

    h3 {
        text-align: center;
        color: seagreen;
        font-family: arial, sans-serif;
    }

    .top_container {
        background: url(../images/background.jpg) no-repeat;
        margin-top: 40px;
        margin-left: 80px;
    }

    .container{
        background-color: white;
        padding: 25px;
        width: 50%;
        float: left;
    }

    img.resize {
        width: 25px;
        height: auto;
    }

    .image{
        width: 100px;
        float: left;
        padding: 0 25px 0 0;
    }

    .borderconnect {
        background-color: grey;
        height: 2px;
        width: 60%;
        margin-left: 60px;
    }
    /* static css */
    .connect {
        background-color: white;
        width: 25%;
        height: 120px;
        float: left;
        margin-left: 20px;
    }

    #logo {
        margin-top: 23px;
        display: block;
        margin-left: 80px;
    }

    #border {
        background-color: seagreen;
        width: auto;
        height: 8px;
        margin-top: 20px;
    }

    footer {
        background-color: slategray;
        color: white;
        height: 100px;
        justify-content: center;
        display: flex;
        width: auto;
    }

    .foot {
        bottom: 0;
        position: fixed;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 960px) {
	#container, footer {
		width: 758px;
	}
    
	h2, h3 {
        text-align: left;
    }
	.connect {
        width: 50%;
        margin-top: 20px;
        margin-left: 1px;
        padding: 25px;
    }
     
    .borderconnect {
        background-color: grey;
        height: 2px;
        width: 60%;
        margin-left: 60px;
    }

    #logo {
        display: block;
        margin-top: 2px;
        margin-left: 1px;
    }

    footer {
        background-color: slategray;
        color: white;
        height: 100px;
        justify-content: center;
        display: flex;
        width: 100%;
    }
}

/* Additional Screen Sizes */

/* Width at 768px and below */
@media screen and (max-width: 768px) {
  #container, footer {
		width: 758px;
	}
	
	h2 {
        text-align: left;
    }
	.connect {
        width: 50%;
        margin-top: 20px;
        margin-left: 1px;
        padding: 25px;
    }
     
    .borderconnect {
        width: 50%;
        margin-left: 5px;
    }

    #logo {
        display: block;
        margin-top: 2px;
        margin-left: 1px;
    }

    footer {
        background-color: slategray;
        color: white;
        height: 100px;
        justify-content: center;
        display: flex;
        width: 100%;
    }
}

/* Width at 640px and below */
@media screen and (max-width: 570px) {

    header {
        position:static;
    }

    nav, a{
        background-color: white;
    }

    #container, footer {
		width: 758px;
	}

	h2 {
        text-align: left;
    }
	.connect {
        width: 50%;
        margin-top: 20px;
        margin-left: 1px;
        padding: 25px;
    }
     
    borderconnect {
        width: 50%;
        margin-left: 15px;
    }

    #logo {
        display: block;
        margin-top: 2px;
        margin-left: 1px;
    }
}